<style type="text/css">
    .all{
        display:grid;
        grid-template-rows: 10fr 1fr;
       
    }
</style>
<div class="all">

    <div class="mt-3 messages">
        <div class="row">
            <div class="col-6">
                <div class="card text-dark p-1 " style="background-color: rgb(221, 221, 221)">
                    <div class="card-body my-auto">
                        <img src="https://pbs.twimg.com/profile_images/667739973001547778/SfBWMyRH.jpg" alt="" style="width: 40px;height: 40px;border-radius: 25px;">
                        Hello
                    </div>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="card text-dark p-1 text-right" style="background-color: rgb(221, 221, 221)">
                    <div class="card-body my-auto">
                        What's up?
                        <img src="https://www.redaccionmedica.com/images/destacados/-buscamos-la-recuperacion-completa-de-la-persona-con-depresion--7353.jpg"  style="width: 40px;height: 40px;border-radius: 25px;" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card text-dark p-1 " style="background-color: rgb(221, 221, 221)">
                    <div class="card-body my-auto">
                        <img src="https://pbs.twimg.com/profile_images/667739973001547778/SfBWMyRH.jpg" alt="" style="width: 40px;height: 40px;border-radius: 25px;">
                        So so, you?
                    </div>
                </div>
            </div>
            <div class="col-6"></div>
        </div>
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6">
                <div class="card text-dark p-1 text-right" style="background-color: rgb(221, 221, 221)">
                    <div class="card-body my-auto">
                        Excellent
                        <img src="https://www.redaccionmedica.com/images/destacados/-buscamos-la-recuperacion-completa-de-la-persona-con-depresion--7353.jpg"  style="width: 40px;height: 40px;border-radius: 25px;" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card w-100 py-1 px-1" style="bottom:0">
        <div class="row">

            <div class="col-lg-10 col-md-9">
                <input type="text" class="form-control">
            </div>
            <div class="col-lg-2 col-md-3">
                <button class="btn btn-primary w-100">Send</button>
            </div>
        </div>
    </div>
</div>
